<section class="container">
  <h1 class="center-align">Todo List</h1>
  <input type=text name="todo" id="todo" placeholder="What needs to be done?" [(ngModel)]="inputText">
  <button *ngIf="!edit" (click)="addTodo()" class="waves-effect waves-light btn pink accent-2">Add</button>
  <button *ngIf="edit" (click)="saveTodoTittle()" class="waves-effect waves-light btn">Save</button>
  <ul *ngIf="todoList">
    <li *ngFor="let todo of todoList" class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card indigo">
          <div class="card-content white-text">
            <div class="switch">
              <label>
                Uncompleted
                <input type="checkbox"
                       [(ngModel)]="todo.completed"
                       (change)="changeCompleted(todo)">
                <span class="lever"></span>
                Completed
              </label>
            </div>
            <span (dblclick)="editTodo(todo)">{{todo.title}}</span>
            <div class="card-action">
              <a (click)="removeTodo(todo)" class="waves-effect waves-light btn pink accent-2">Delete</a>
              <a (click)="editTodo(todo)" class="waves-effect waves-light btn pink accent-2">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
