body {
  background-color: #fafafa;
}
.switch label .lever:after {
  background-color: #ff4081 !important;
}
label {
  color: #fff !important;
}
h1 {
  color: #212121 !important;
}
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ff4081 !important;
  box-shadow: 0 1px 0 0 #ff4081 !important;
}
